<%- include('../includes/header'); %>

<h1>New Author:</h1>
<form method="POST" action="">
	Name: <input id="name" name="name" />
	<input type="submit" value="Submit" />
</form>

<%- include('../includes/footer'); %>